

{# summary area of the manual giving an overview of what the manual focuses on #}


    {#macro used to style the list items#}
    {%- macro _contentsItem(params, item, index) %}
        {%if params.type=='hmrc'%}
         <li class="section-list-item">
            <a class="govuk-link section-link" href="{{item.href}}">
                <div class="title-wrap">
                    <div class="subsection-id">{{item.id}}</div>
                    <div class="subsection-title-text">{{item.sectionTitle}}</div>
                </div>
            </a>
        </li>
        {%else%}
<li class="gem-c-document-list__item  ">
            <div class="gem-c-document-list__item-title">
                <a class="govuk-link gem-print-force-link-styles" href="{{item.href}}">
                    {{item.sectionTitle}} 
                </a>
            </div>
            <p class="gem-c-document-list__item-description gem-c-document-list__item-description--full-size">
                {{item.text}}
            </p>
        </li>

       
        {%endif%}
    {% endmacro -%}

{%if params.type=='hmrc'%}
<div class="subsection-collection {%if params.classes%}{{params.classes}}{%endif%}">
    <ol class="section-list">
{%else%}
<ul class="gem-c-document-list govuk-!-margin-bottom-5 {%if params.classes%}{{params.classes}}{%endif%}">
{%endif%}
    
        {% for item in params.items %}
            {% if item %}
                {{ _contentsItem(params, item, loop.index) }}
            {% endif %}
        {% endfor %} 
{%if params.type=='hmrc'%}
    </ol>
{%else%}
</ul>
{%endif%}

