{% extends "layouts/main.html" %}

{% block pageTitle %}
Manual title - Guidance - GOV.UK
{% endblock %}



{# Blank header with no service name for this page #}
{% block header %}
<header>
  {{govukHeader()}}
</header>
{% endblock %}

{% block containerStart %}
{{ govukBreadcrumbs({
items: [
{
text: "Home",
href: "#"
},
{
text: "Section",
href: "#"
},
{
text: "Subsection"
}
]
}) }}

{% from "/components/manual-header/macro.njk" import manualHeader %}
{{ manualHeader({
manualTitle: 'Manual title',
type: 'govuk',
publishDate: '1 January 2026',
updateDate: null
}) }}
{% endblock %}



{% block content %}
<div id="manuals-frontend" class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {% from "/components/manual-contentsTitle/macro.njk" import manualContentsTitle %}
    {{ manualContentsTitle({
    summary: 'Brief summary explaining the purpose of the manual and what the user can expect to find in it.',
    summaryDetail: null
    }) }}

    {% from "/components/manual-contents/macro.njk" import manualContents %}
    {{ manualContents({
    type: 'govuk',
    items:[
    {
    sectionTitle: 'Section one',
    href: '#',
    text: 'Brief overview of section one'
    },
    {
    sectionTitle: 'Section two',
    href: '#',
    text: 'Brief overview of section two'
    },
    {
    sectionTitle: 'Section three',
    href: '#',
    text: 'Brief overview of section three'
    }
    ]
    }) }}


    {% from "/components/manual-printLink/macro.njk" import manualPrintLink %}
    {{ manualPrintLink() }}
  </div>

</div>
{% endblock %}