{% extends "layouts/main.html" %}

{% block pageTitle %}
Manual title - Page name - Guidance - GOV.UK
{% endblock %}

{# Blank header with no service name for this page #}
{% block header %}
<header>
    {{govukHeader()}}
</header>
{% endblock %}

{% block containerStart %}
{{ govukBreadcrumbs({
items: [
{
text: "Home",
href: "#"
},
{
text: "Section",
href: "#"
},
{
text: "Subsection"
}
]
}) }}

{% from "/components/manual-header/macro.njk" import manualHeader %}
{{ manualHeader({
manualTitle: 'Manual title',
type: 'govuk',
publishDate: '1 January 2026',
updateDate: null
}) }}


{{ govukBreadcrumbs({
classes: "gem-c-breadcrumbs gem-c-breadcrumbs--border-bottom govuk-!-margin-bottom-6",
items: [
{
text: "Back to contents",
href: "#"
}
]
}) }}

{% endblock %}



{% block content %}



<div id="manuals-frontend" class="govuk-grid-row">
    <article aria-labelledby="section-title">
        {% from "/components/manual-sectionTitle/macro.njk" import manualSectionTitle %}
        {{ manualSectionTitle({
        sectionTitle: {
        heading: 'Section title',
        text: 'This is a brief description of the section.'}
        }) }}

        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body">
                This is an optional area to add details about the section.
            </p>
            <p class="govuk-body">
                Use the <a class="govuk-link"
                    href="https://www.gov.uk/guidance/how-to-publish-on-gov-uk/markdown">Govspeak guide for Whitehall
                    publisher</a> to see which content components you can use. Then use the <a class="govuk-link"
                    href="https://design-system.service.gov.uk/">GOV.UK Design System</a> to find the corresponding
                component's html or nunjunks.
            </p>
            <p class="govuk-body">
                There will be Whitehall components that are missing from the <a class="govuk-link"
                    href="https://design-system.service.gov.uk/">GOV.UK Design System</a>. I have added these as nunjunks components and documented on how to use them in the readme file of the <a class="govuk-link"
                    href="https://github.com/DavidMc-ux/govuk_manuals">govuk_manuals</a> github repository. </p>
           


            {% from "/components/govspeak/call-to-action/macro.njk" import govspeakCallToAction %}
            {{ govspeakCallToAction(
            {
            html: '<p class="govuk-body">This is a <a class="govuk-link"
                    href="https://www.gov.uk/guidance/how-to-publish-on-gov-uk/markdown#call-to-action">call to
                    action</a> component.</p>
            <p class="govuk-body">It is used to highlight <strong>important information</strong> or actions that users
                should take. You can use it to draw attention to key messages or prompts within your content.</p> '
            }) }}



            {% from "govuk/components/accordion/macro.njk" import govukAccordion %}

            {{ govukAccordion({
            id: "accordion-default",
            items: [
            {
            heading: {
            text: "Writing well for the web"
            },
            content: {
            html: '<p class="govuk-body">This is the content for Writing well for the web.</p>'
            }
            },
            {
            heading: {
            text: "Writing well for specialists"
            },
            content: {
            html: '<p class="govuk-body">This is the content for Writing well for specialists.</p>'
            }
            },
            {
            heading: {
            text: "Know your audience"
            },
            content: {
            html: '<p class="govuk-body">This is the content for Know your audience.</p>'
            }
            },
            {
            heading: {
            text: "How people read"
            },
            content: {
            html: '<p class="govuk-body">This is the content for How people read.</p>'
            }
            }
            ]
            }) }}
        </div>
    </article>
    <div class="govuk-grid-column-two-thirds">
        {% from "/components/manual-printLink/macro.njk" import manualPrintLink %}
        {{ manualPrintLink() }}
    </div>

</div>
{% endblock %}